
/* home */
.container.box {
  padding: 2rem;
}

.h3 {
  font-size: 1.75rem;
  text-align: left;
}

.text-muted {
  font-size: 1rem;
}

.fs-0 {
  font-size: 0.875rem;
}

.fw-light {
  font-weight: 300;
}

.fw-bold {
  font-weight: 700;
}

.fs-4 {
  font-size: 1.25rem;
}

.text-justify {
  text-align: justify;
}

.transform-images {
  max-width: 100%;
  height: auto;
  transition: transform 0.5s ease-in-out;
}

.transform-images:hover {
  transform: scale(1.05);
}

.bold-500 {
  font-weight: 500;
}

.fs-10 {
  font-size: 2rem;
}


@media (max-width: 768px) {
  .h3 {
    font-size: 1.5rem;
  }

  .text-muted {
    font-size: 0.875rem;
  }

  .fs-4 {
    font-size: 1rem;
  }

  .container.box {
    padding: 1rem;
  }

  .transform-images {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .text-justify {
    text-align: left;
  }

  .btn {
    width: 100%;
    text-align: center;
  }

  .project-image img {
    width: 100%;
    padding: 1rem;
  }
  .footers-content{
    display: flex !important;
    justify-content: center !important;
  }
}
/* home */
/* about */
*.text-justify{
  justify-content: end;
}

#about {
  padding: 20px;
}

.intro {
  text-align:left;
  font-weight: bold;
}

.abouts {
  font-size: 2.5rem;
}

.del {
  font-size: 1rem;
}

.project-images img {
  max-width: 100%;
  height: auto;
}

.tech {
  font-size: 1rem;
}


@media (max-width: 768px) {
  .intro {
    margin-top: 20px;
  }

  .col-md-6 {
    margin-bottom: 30px;
  }

  .abouts {
    font-size: 2rem;
  }

  .del {
    font-size: 0.9rem;
  }

  .tech {
    font-size: 0.9rem;
  }

  .project-images img {
    max-width: 50%;
  }

  .transform-images,
  .transform-imagess,
  .transform-img {
    margin-top: 20px;
  }

  .transform-images,
  .transform-imagess,
  .transform-img {
    max-width: 100%;
    height: auto;
  }
}

/* about */
/* projexct */
@media (max-width: 767px) {
  .custom-button-container {
    text-align: center;
  }

  .custom-button {
    display: inline-block;
    margin: 0 auto;
  }
}
/* projexct */